.jumbotron {
  padding-top: 7rem;
  background-color: #59616b;
}

#Projects {
  background-color: #59616b;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.display-4 {
  font-weight: 350;
  font-size: 50px;
}

#about h2,
p {
  font-weight: 500;
}

body {
  font-family: poppins, sans-serif;
}
